App/Controllers/*
App/Models/*
App/Views/*
App/Views/index.html.twig
App/Init
public/*
public/css/*
public/js/*
public/img/*
public/images/*
uploads/
uploads/*
todo.txt
comandos.txt
composer.phrar
robots.txt
rss.xml
sitemap.xml
sitemap.xml.gz
sitemap.xsl
index.php
grupos.txt
favicon.ico
database.sql
.htaccess